# dependencies
ComfyyTasks/node_modules/

.DS_Store

# Expo
ComfyyTasks/.expo/
ComfyyTasks/dist/
ComfyyTasks/web-build/

ComfyyTasks/ios/build/

#Secret API links
ComfyyTasks/components/API.tsx

# EAS
ComfyyTasks/eas.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
ComfyyTasks/.metro-health-check*

# debug
ComfyyTasks/npm-debug.*
ComfyyTasks/yarn-debug.*
ComfyyTasks/yarn-error.*

# macOS
ComfyyTasks/.DS_Store
ComfyyTasks/*.pem

# local env files
ComfyyTasks/.env*
ComfyyTasks/.env*.local

# For rust
Server/main/.env*
Server/main/.env*.local

Server/main/target/

# For golang
Server/otp/.env*
Server/otp/.env*.local

# typescript
ComfyyTasks/*.tsbuildinfo
ComfyyTasks/*.d.ts

# iOS build files inside ComfyyTasks
ComfyyTasks/ios/build/

# Android build (if added later)
ComfyyTasks/android/build/

# Watchman config (if applicable)
ComfyyTasks/.watchmanconfig
ComfyyTasks/.expo-shared/
