# dependencies
ComfyTasks/node_modules/

# Expo
ComfyTasks/.expo/
ComfyTasks/dist/
ComfyTasks/web-build/

# EAS
ComfyTasks/eas.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
ComfyTasks/.metro-health-check*

# debug
ComfyTasks/npm-debug.*
ComfyTasks/yarn-debug.*
ComfyTasks/yarn-error.*

# macOS
ComfyTasks/.DS_Store
ComfyTasks/*.pem

# local env files
ComfyTasks/.env*
ComfyTasks/.env*.local

# typescript
ComfyTasks/*.tsbuildinfo
ComfyTasks/*.d.ts

# iOS build files inside ComfyTasks
ComfyTasks/ios/build/

# Android build (if added later)
ComfyTasks/android/build/

# Watchman config (if applicable)
ComfyTasks/.watchmanconfig
ComfyTasks/.expo-shared/
